client-soap-java/src/main/java/proxy/.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws/" schemaLocation="http://localhost:9090/?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getCompte">
        <part name="parameters" element="tns:getCompte"/>
    </message>
    <message name="getCompteResponse">
        <part name="parameters" element="tns:getCompteResponse"/>
    </message>
    <message name="conversionEuroToDh">
        <part name="parameters" element="tns:conversionEuroToDh"/>
    </message>
    <message name="conversionEuroToDhResponse">
        <part name="parameters" element="tns:conversionEuroToDhResponse"/>
    </message>
    <message name="listCompte">
        <part name="parameters" element="tns:listCompte"/>
    </message>
    <message name="listCompteResponse">
        <part name="parameters" element="tns:listCompteResponse"/>
    </message>
    <portType name="BankService">
        <operation name="getCompte">
            <input wsam:Action="http://ws/BankService/getCompteRequest" message="tns:getCompte"/>
            <output wsam:Action="http://ws/BankService/getCompteResponse" message="tns:getCompteResponse"/>
        </operation>
        <operation name="conversionEuroToDh">
            <input wsam:Action="http://ws/BankService/conversionEuroToDhRequest" message="tns:conversionEuroToDh"/>
            <output wsam:Action="http://ws/BankService/conversionEuroToDhResponse" message="tns:conversionEuroToDhResponse"/>
        </operation>
        <operation name="listCompte">
            <input wsam:Action="http://ws/BankService/listCompteRequest" message="tns:listCompte"/>
            <output wsam:Action="http://ws/BankService/listCompteResponse" message="tns:listCompteResponse"/>
        </operation>
    </portType>
    <binding name="BankServicePortBinding" type="tns:BankService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getCompte">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="conversionEuroToDh">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listCompte">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BanqueWS">
        <port name="BankServicePort" binding="tns:BankServicePortBinding">
            <soap:address location="http://localhost:9090/"/>
        </port>
    </service>
</definitions>